<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Protein Structure Flashcards</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'nucl.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=League+Script&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap" rel="stylesheet">
</head>
<body>
    <header>
            <div class = "body-cont">
            <div class="center-cont">
                <h1>.˳·˖✶𓆩𓁺𓆪✶˖·˳.</h1>
                <h1>ProtStruct</h1>
                <div class="font-change">
                    <h2>Additional Information</h2>
                </div>
                ‧°｡ If you are struggling with nucleotides recognition, this page might be usefull ｡°‧ <br>
            </div>
            <div class="container">
                Firstly, we will remind you the composition of a nucleotide.<p>
                It contains of three parts:
                <ul>
                    <li> Nucleobase </li>
                    This part determines your nucleotide, it can be purine or pyrimidine. Interestingly, purin means <i> pure urine </i>, because it was exctracted from urine,
                    pyrimidin name comes from its exctraction method, the synthesis, performed in high temperatures ('pyr' - fire). 
                    <li> Five carbon sugar molecule </li>
                    Desoxyribose stands for DNA and Ribose - for RNA. Together nucleobase with sugar forms <strong> nucleoside </strong> (from glycoside bond)
                    <li> Phosphate group </li>
                    The phosphate group is bonded to 5' atom of the sugar and can be included in mono-, di- and triphosphate forms. Nomenclature names, therefore, would be nucleosid <b>mono/di/tri</b>phosphate
                </ul>
            </div>
            <div class="center-cont">
                <h1> Basic Nucleobases: pyrimidines </h1>
                <div class="container-t">
                    <h2> Thymine - T </h2>
                        <img src="{{ T.question.url }}" alt="Nucleotide Image">
                    Thymine was exctracted from thymus
                </div>
                <div class="container-u">
                    <h2> Urcil - U </h2>
                        <img src="{{ U.question.url }}" alt="Nucleotide Image">
                    Uracil was exctracted from urine
                </div>
                 <div class="container-t">
                    <h2> Cytosine - C </h2>
                        <img src="{{ C.question.url }}" alt="Nucleotide Image">
                </div>
                <h1> Basic Nucleobases: purines </h1>
                <div class="container-a">
                    <h2> Adenine - A </h2>
                        <img src="{{ A.question.url }}" alt="Nucleotide Image">
                    Adenine was firstly extracted from bovine pancreatic gland (adḗn, “gland”) 
                </div>
                <div class="container-g">
                    <h2> Guanine - G </h2>
                        <img src="{{ G.question.url }}" alt="Nucleotide Image">
                </div>
            </div>
        </div>
    </header>
</body>
<p> {{U}} </p>
<p> {{context}} </p>
</html>


<!-- for Adenine #e5c3c3 -->
