
    
body {
        font-family: "Gowun Dodum", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
        background-image: url('../static/images/main6.png'); /* Путь к изображению */
        background-size: cover; /* Масштабирование изображения */
        background-attachment: fixed; 
        background-repeat: no-repeat; /* Отключение повторения изображения */
        background-position: center; 
        line-height: 30px;
        text-align: center;
    }

.body-cont{
        width: 600px; /* Ширина контейнера */
        height: 480px; /* Высота контейнера */
        background-image: url('../static/images/box.png'); /* Путь к PNG-изображению */
        background-size: cover; /* Масштабирование фона */
        background-repeat: no-repeat; /* Отключение повторения фона */
        margin: 5px auto;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
.content{
    margin-left: -20px;
}
 .container-title{
        width: 680px; /* Ширина контейнера */
        height: 210px;
        background-image: url('../static/images/title_main.png'); /* Путь к PNG-изображению */
        background-size: cover; /* Масштабирование фона */
        background-repeat: no-repeat; /* Отключение повторения фона */
        margin: 0px auto;
        text-align: center;
        padding: 55px 10px 10px;/* Внутренние отступы */
        margin-top: -80px;
    }
.font-change{
        font-family: "League Script", cursive;
        font-weight: 400;
        font-style: normal;
    }
    .button-container {
            display: flex;
            flex-direction: column;  /* Расположение элементов в колонку */
            align-items: center;  /* Центрирование по горизонтали */
            gap: 10px;  /* Расстояние между кнопками */
        }
   
    .container {
        
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        text-align: center;
        width: 100%;
        max-width: 500px;
    }
    h1 {
        align-items: center;
        color: #000000;
        text-shadow:
                4px 4px 7px #F4F4F9, 
                -4px -4px 7px #F4F4F9, 
                4px -4px 7px #F4F4F9, 
                -4px 4px 7px #F4F4F9;
    }
    .h2-mod {
        color: #000000;
        position: relative;
        top: -25px;
        font-size: 1.5em;
        font-weight: bold;
    }
    h2{
       color: #000000; 
    }
    .option-button {
        padding: 10px 20px;
        color: #000000;
        background-color: #bec6cf;
        border: 1px solid #c3b0b5;
        border-radius: 5px;
        cursor: pointer;
        font-size: 18px;
        font-family: "Gowun Dodum", sans-serif;
        font-weight: 400;
        font-style: normal;
        width: 50%;
    }
    .option-button:hover {
        background-color: #989ea5;
        border: 1px solid #c3b0b5;
        border-radius: 5px;
    }
    </style>